src/jenkins/ssh/jenkins-public
src/jenkins/ssh/jenkins-private.ppk
src/ping/bin/src/main/java/com/mtc/services/core/PingService.class
src/ping/bin/src/test/java/com/mtc/services/core/DemoApplicationTests.class
*.class
*.ppk
*.jar
\bin
src/pong/target/dependency/BOOT-INF/classes/application.properties
src/ping/.settings/org.eclipse.core.resources.prefs
src/ping/.settings/org.eclipse.jdt.apt.core.prefs
src/ping/.settings/org.eclipse.jdt.core.prefs
src/ping/src/core-0.0.1-SNAPSHOT.jar.original
src/ping/target/ping-0.0.1-SNAPSHOT.jar.original
src/ping/target/classes/application.properties
src/ping/target/dependency/BOOT-INF/classes/application.properties
src/ping/target/dependency/META-INF/MANIFEST.MF
src/ping/target/dependency/META-INF/maven/com.mtc.services/ping/pom.properties
src/ping/target/dependency/META-INF/maven/com.mtc.services/ping/pom.xml
src/ping/target/dependency-maven-plugin-markers/com.mtc.services-ping-jar-0.0.1-SNAPSHOT.marker
src/ping/target/maven-archiver/pom.properties
src/ping/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
src/ping/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
src/ping/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
src/ping/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
src/ping/target/surefire-reports/2018-08-28T11-49-23_112.dumpstream
src/ping/target/surefire-reports/2018-08-28T12-21-42_867.dumpstream
src/ping/target/surefire-reports/2018-08-28T12-24-41_730.dumpstream
src/ping/target/surefire-reports/2018-08-28T12-26-04_143.dumpstream
src/ping/target/surefire-reports/TEST-com.mtc.services.core.DemoApplicationTests.xml
src/ping/target/surefire-reports/com.mtc.services.core.DemoApplicationTests.txt
src/pong/.settings/org.eclipse.core.resources.prefs
src/pong/.settings/org.eclipse.jdt.apt.core.prefs
src/pong/.settings/org.eclipse.jdt.core.prefs
src/pong/.settings/org.eclipse.m2e.core.prefs
src/pong/target/pong-0.0.1-SNAPSHOT.jar.original
src/pong/target/classes/application.properties
src/pong/target/dependency/META-INF/MANIFEST.MF
src/pong/target/dependency/META-INF/maven/com.mtc.services/pong/pom.properties
src/pong/target/dependency/META-INF/maven/com.mtc.services/pong/pom.xml
src/pong/target/dependency-maven-plugin-markers/com.mtc.services-pong-jar-0.0.1-SNAPSHOT.marker
src/pong/target/maven-archiver/pom.properties
src/pong/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
src/pong/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
src/pong/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
src/pong/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
src/pong/target/surefire-reports/2018-08-28T13-10-13_225.dumpstream
src/pong/target/surefire-reports/TEST-com.mtc.services.core.DemoApplicationTests.xml
src/pong/target/surefire-reports/com.mtc.services.core.DemoApplicationTests.txt
src/pong/.settings/org.eclipse.jdt.core.prefs
src/ping/.settings/org.eclipse.core.resources.prefs
src/ping/.settings/org.eclipse.jdt.apt.core.prefs
src/ping/.settings/org.eclipse.jdt.core.prefs
src/ping/src/core-0.0.1-SNAPSHOT.jar.original
src/ping/target/ping-0.0.1-SNAPSHOT.jar.original
src/ping/target/classes/application.properties
src/ping/target/dependency/BOOT-INF/classes/application.properties
src/ping/target/dependency/META-INF/MANIFEST.MF
src/ping/target/dependency/META-INF/maven/com.mtc.services/ping/pom.properties
src/ping/target/dependency/META-INF/maven/com.mtc.services/ping/pom.xml
src/ping/target/dependency-maven-plugin-markers/com.mtc.services-ping-jar-0.0.1-SNAPSHOT.marker
src/ping/target/maven-archiver/pom.properties
src/ping/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
src/ping/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
src/ping/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
src/ping/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
src/ping/target/surefire-reports/2018-08-28T11-49-23_112.dumpstream
src/ping/target/surefire-reports/2018-08-28T12-21-42_867.dumpstream
src/ping/target/surefire-reports/2018-08-28T12-24-41_730.dumpstream
src/ping/target/surefire-reports/2018-08-28T12-26-04_143.dumpstream
src/ping/target/surefire-reports/TEST-com.mtc.services.core.DemoApplicationTests.xml
src/ping/target/surefire-reports/com.mtc.services.core.DemoApplicationTests.txt
src/pong/.settings/org.eclipse.core.resources.prefs
src/pong/.settings/org.eclipse.jdt.apt.core.prefs
src/pong/.settings/org.eclipse.m2e.core.prefs
src/pong/target/pong-0.0.1-SNAPSHOT.jar.original
src/pong/target/classes/application.properties
src/pong/target/dependency/BOOT-INF/classes/application.properties
src/pong/target/dependency/META-INF/MANIFEST.MF
src/pong/target/dependency/META-INF/maven/com.mtc.services/pong/pom.properties
src/pong/target/dependency/META-INF/maven/com.mtc.services/pong/pom.xml
src/pong/target/dependency-maven-plugin-markers/com.mtc.services-pong-jar-0.0.1-SNAPSHOT.marker
src/pong/target/maven-archiver/pom.properties
src/pong/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
src/pong/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
src/pong/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
src/pong/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
src/pong/target/surefire-reports/2018-08-28T13-10-13_225.dumpstream
src/pong/target/surefire-reports/TEST-com.mtc.services.core.DemoApplicationTests.xml
src/pong/target/surefire-reports/com.mtc.services.core.DemoApplicationTests.txt
src/ping/target/classes/application.properties
